<h1>Data Binding</h1>


<h4>Calculator</h4>
<h5>{{sum}}</h5>
<input type="number" [(ngModel)]="num1" placeholder="enter number 1"><br>
<input type="number" [(ngModel)]="num2" placeholder="enter number 2"><br>
<button (click)="addition()" [disabled]="!num1 || !num2">Add</button><br>



<!-- 1..event binding -->

<button (click)="greeting()">Click me!</button><br>

<input type="text" placeholder="enter name" (keyup)="typing()"><br>

<select (change)="fruits()">
    <option >apple</option>
     <option>banana</option>
      <option >grapes</option>
       <option >orange</option>
        <option >Kiwi</option>
</select>

<!-- 2.property binding -->

<button [disabled]="isDataPresent">reset</button><br>
<img [src]="image_url" alt="" width="300px" height="300px"><br>

<!-- 3.interpolation -->
 <h2>{{name}}</h2>
 <h3>{{age}}</h3>


 <!-- 4.Two way data binding -->

 <input type="text" [(ngModel)]="mobile" (keyup)="typing()">