<h1>Employee Data</h1>

<h3>Today:{{date}}</h3>
<h3>Today's Date:{{date | date:'dd-MM-yyyy'}}</h3>
<h3>Time:{{date | date:'hh:mm:ss'}}</h3>

<button class="sort" (click)="sort()">Package Low to High</button>
<table border="1">
    <thead>
        <tr>
            <th>S No</th>
            <th>Name</th>
            <th>Experience</th>
            <th>Package</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor="let employee of employees;let i=index">
                <td>{{i+1}}</td>
            <td>{{employee.name |uppercase}}</td>
            <td [ngStyle]=" {'color':employee.experience>=5? 'green':'red'}">{{employee.experience}}</td>
            <td [ngClass]="{'first':employee.package<500000,'second':(employee.package>=500000)&& (employee.package<1000000),'third':employee.package>=1000000,}" >{{employee.package |currency}}</td>
            <td>{{employee.role |lowercase}}</td>
            <td>
                <button (click)="delete(i)">Delete</button>
            </td>
            </tr>
        </tbody>
</table>