<h1 *ngIf="!id">Create Students Details</h1>
<h1 *ngIf="id">Edit Student Details</h1>

<form  [formGroup]="studentForm" >

    <label style>Student Name: </label>
    <input style="margin: 5px;"  type="text"  formControlName="name" ><br>
    
     <label>Student Phone: </label>
    <input  style="margin: 5px;" type="text"  formControlName="phone" ><br>

     <label>Student City: </label>
    <input style="margin: 5px ;" type="text"  formControlName="city" ><br>

     <label>Student DOB: </label>
    <input  style="margin: 5px;" type="text"  formControlName="dob" ><br>

     <label>Student Photo: </label>
    <input style="margin: 5px;" type="text"  formControlName="profile_picture" ><br>

     <label>Student Email: </label>
    <input style="margin: 5px;" type="text"  formControlName="email" ><br>

     <label> School-logo: </label>
    <input style="margin: 5px;" type="text"  formControlName="school_logo" ><br>

     <label> School Name: </label>
    <input style="margin: 5px;" type="text"  formControlName="school_name" ><br>

      <label> School-city: </label>
    <input style="margin: 5px;" type="text"  formControlName="school_city" ><br>

  <label>School-pin: </label>
    <input style="margin: 5px;" type="text"  formControlName="school_pin" ><br>

    <button class="btn btn-warning" (click)="submit()">Submit</button>



</form>