<h1>Create User</h1>

<form  [formGroup]="userForm" >
    <label>Name:</label>
    <input type="text" formControlName="name"><br>

    <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
        <p *ngIf="userForm.get('name')?.errors?.['required']">Name is Required</p>
        <p *ngIf="userForm.get('name')?.errors?.['minlength']">Name is minimum 6 characters</p>
        <p *ngIf="userForm.get('name')?.errors?.['maxlength']">Name is maximum 10 characters</p>

    </div>

      <label>Email:</label>
    <input type="email" formControlName="email"><br>

      <label>Password:</label>
    <input type="password" formControlName="password"><br>

      <label>Mobile Number:</label>
    <input type="number" formControlName="mobile"><br>

    <div formGroupName="address" >
        <label>City:</label>
        <input type="text" formControlName="city"><br>
         <label>state:</label>
        <input type="text" formControlName="state"><br>
         <label>pincode:</label>
        <input type="number" formControlName="pincode"><br>
    </div>

 <label>Type:</label>
 <input type="radio" name="type" formControlName="type" value="dayScholar">
 <label>Day scholar</label>
 <input type="radio" name="type" formControlName="type" value="residential">
 <label>Residential</label><br>

 <div *ngIf="userForm.get('type')?.value=='dayScholar'" >

<label >Bus Fee:</label>
<input type="number" formControlName="busFee"><br>
 </div>

 <div *ngIf="userForm.get('type')?.value=='residential'" >
<label >Hostel Fee:</label>
<input type="number" formControlName="hostelFee"><br>
 </div>

<!-- form Array -->
 <h3>Cards:</h3>
 <button (click)="addCard()" class="btn btn-primary">Add Card</button>
 <div formArrayName="cards">
    <div *ngFor="let card of cardsFromArray.controls;let i=index">
        <div formGroupName="{{i}}">
            <h3>Card:{{i+1}}</h3>
        <label>Card number:</label>
        <input type="number" formControlName="cardNumber"><br>

        <label>Expiry Date:</label>
        <input type="month" formControlName="expiry"><br>

        <label>CVV :</label>
        <input type="number" formControlName="cvv"><br>
<button class="btn btn-danger" (click)="delete(i)">Delete</button>

        </div>

    </div>

 </div>
<!-- Form Array -->

    <button (click)="submit()" class="btn btn-success">Submit</button>


</form>
