.rectangle{
    width:500px;
    height:400px;
    background-color: whitesmoke;
    text-align: center;
}
span{
    width:300px;
    height:60px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 80px;
}
.area{
    width:50px;
    height:30px;
    background-color: blue;

}
.perimeter{
    width:100px;
    height:30px;
    background-color: blue;
}