<div class="parent">
    <div class="left">
        <h1 routerLink="/dashboard">My Website</h1><hr><br>
        <h2 routerLink="/dashboard/home">Home</h2>
         <h2 routerLink="/dashboard/gallery">Gallery</h2>
        <h2 routerLink="/dashboard/welcome">Welcome</h2>
      <h2 routerLink="/dashboard/data-binding">Data Binding</h2>
        <h2 routerLink="/dashboard/calculator">Calculator</h2>
      <h2 routerLink="/dashboard/rectangle">Rectangle</h2>
       <h2 routerLink="/dashboard/circle">Circle</h2>
        <h2 routerLink="/dashboard/bmi">BMI</h2>


    </div>
    <div class="right">
       <router-outlet></router-outlet>
    </div>
</div>