<div class="parent">
    <div class="left">
        <h1 routerLink="/dashboard">My Website</h1><hr><br>
        <!-- <h2 routerLink="/dashboard/home">Home</h2> -->
         <!-- <h2 routerLink="/dashboard/gallery">Gallery</h2> -->
        <!-- <h2 routerLink="/dashboard/welcome">Welcome</h2> -->
      <h2 routerLink="/dashboard/data-binding">Data Binding</h2>
        <h2 routerLink="/dashboard/calculator">Calculator</h2>
      <h2 routerLink="/dashboard/rectangle">Rectangle</h2>
       <h2 routerLink="/dashboard/circle">Circle</h2>
        <h2 routerLink="/dashboard/bmi">BMI</h2>
        <h2 routerLink="/dashboard/directives">Directives</h2>
        <h2 routerLink="/dashboard/employee">Employee Data</h2>
        <h2 routerLink="/dashboard/product-task">Product Data</h2>
        <h2 routerLink="/dashboard/vehicle">Vehicles</h2>
        <h2 routerLink="/dashboard/mail">Mail</h2>
        <h2 routerLink="/dashboard/flipkart">Flipkart</h2>
        <h2 routerLink="/dashboard/pinInterest">PinInterest</h2>
        <!-- <h2 routerLink="/dashboard/weather">Weather climate</h2> -->
        <h2 routerLink="/dashboard/create-vehicle">Create Vehicle</h2>
        <h2 routerLink="/dashboard/idCard"> Student IDCard</h2>
        <h2 routerLink="/dashboard/addStudents">  ADD Student  Details</h2>
        <h2 routerLink="/dashboard/accountDetails"> Bank Customer Details</h2>
        <h2 routerLink="/dashboard/createUser"> Create User</h2>
        <h2 routerLink="/dashboard/createAccountDetails"> Create Account Details</h2>
        <h2 routerLink="/dashboard/payments/upi"> UPI</h2>
        <button class="btn btn-danger" (click)="logout()">logout</button>


    </div>
    <div class="right">
       <router-outlet></router-outlet>
    </div>
</div>